<!-- /templates/page.methods.liquid -->

<div class="page-container page-methods" style="opacity: 1">
	<div class="split-hero">
		<div class="split-hero__left">
			<div
				class="hero-background"
				style="background-image: url({{ 'plants-in-beaker.png' | asset_url }})"
			></div>
		</div>
		<div class="split-hero__right">
			<div class="hero-content">
				<div class="hero-content__content">
					<div class="hero-content__background">
						<div class="hero-content__fingerprint">
							<img
								class="responsive-img"
								src="{{ 'fingerprint-grey.png' | asset_url }}"
								alt=""
							/>
						</div>
					</div>
					<div class="heading-1">Modern Methods</div>
					<h6 class="heading-6--caps">Why Terpenes?</h6>
					<h5 class="heading-5 hero-content__paragraph">
						Terpenes used in our Modern Plant Blends have therapeutic and medicinal
						properties to heal, dissolve pain, and boost your mood.
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="split-section methods-info container _80">
		<div class="methods-info__left">
			<div class="content-block mb-xxl">
				<div class="content-block__title heading-4 mb-lg">
					Harness The Power Of Plants
				</div>
				<p class="content-block__paragraph paragraph">
					All of our Modern Plant Blends are locally sourced from plant materials from
					different hemp farms in California. One of them being, Tera Growth in Ventura,
					CA. It’s one of the most respected and sought after hemp farms in the US. Our
					blends are USDA approved and are of the highest quality.
				</p>
			</div>
			<div class="content-block">
				<div class="content-block__title heading-4 mb-lg">Align With Your DNA</div>
				<p class="content-block__paragraph paragraph">
					We make products just for YOU. Simple as that. By understanding your DNA we can
					customize our products to directly benefit you and your body. This is the most
					effective way to target pain, crush illness and make sure you’re functioning at
					the peak of your wellness at all times.
				</p>
			</div>
		</div>
		<div
			class="methods-info__right"
			style="background-image: url('{{ 'fingerprint-grey.png' | asset_url }})"
		>
			<h2 class="heading-2 box-title">
				<div class="box-title__title">The power of plants</div>
			</h2>
			<div class="methods-info__subtext heading-6--caps" style="margin: 2rem 0px">
				combined with
			</div>
			<h2 class="heading-2 box-title">
				<div class="box-title__title">The power of Dna</div>
			</h2>
		</div>
	</div>
	<div class="subscription-options container _80">
		<h4 class="heading-3 mb-xxl">You've got Options</h4>
		<div class="subscription-options__cards">
			<div class="subscription-card">
				<div
					class="subscription-card__img subscription-card__img--primary"
					style="
						background-image: url('https://cdn.shopify.com/s/files/1/0333/9295/1435/products/Modern-Plant-Bottle-Concept-DS.jpg?v=1600208479');
					"
				></div>
				<div class="subscription-card__content">
					<h5 class="subscription-card__title heading-5 mb-lg">Cherry Wine</h5>
					<p class="subscription-card__info paragraph mb-xl">cocktail</p>
					<h6 class="subscrition-card__price heading-6 mb-md">199.0</h6>
					<div class="subscription-card__caption paragraph--small mb-xxl">
						The plant material sourced in this blend is locally sourced from Tera Growth
						in Ventura, CA from the one most respected and sought after hemps farms in the
						US. They are USDA approved and of the highest quality
					</div>
					<div
						id="product-component-Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzQ2OTI0NzA1NjI5NTU="
						class="shopify-buy-frame shopify-buy-frame--product shopify-buy__layout-vertical"
						style="max-width: 280px"
					>
						<iframe
							horizontalscrolling="no"
							verticalscrolling="no"
							allowtransparency="true"
							frameborder="0"
							scrolling="no"
							name="frame-product-4692470562955"
							style="width: 100%; overflow: hidden; border: none; height: 66px"
						></iframe>
					</div>
				</div>
			</div>
			<div class="subscription-card">
				<div
					class="subscription-card__img subscription-card__img--primary"
					style="
						background-image: url('https://cdn.shopify.com/s/files/1/0333/9295/1435/products/Modern-Plant-Bottle-Concept-DS_163ffd80-a9a3-4a4e-9bcc-183907f03b74.jpg?v=1586544420');
					"
				></div>
				<div class="subscription-card__content">
					<h5 class="subscription-card__title heading-5 mb-lg">Desert Sage</h5>
					<p class="subscription-card__info paragraph mb-xl">cocktail</p>
					<h6 class="subscrition-card__price heading-6 mb-md">199.0</h6>
					<div class="subscription-card__caption paragraph--small mb-xxl">
						A mystic tool that's equal parts a super medicine. Our sage based terp blend
						is also locally grown and sourced in California. We've discovered over the
						years that there are many medical properties in sage that back up what the
						native americans knew for centuries.
					</div>
					<div
						id="product-component-Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzQ2OTI0NzIwMzc1MTU="
						class="shopify-buy-frame shopify-buy-frame--product shopify-buy__layout-vertical"
						style="max-width: 280px"
					>
						<iframe
							horizontalscrolling="no"
							verticalscrolling="no"
							allowtransparency="true"
							frameborder="0"
							scrolling="no"
							name="frame-product-4692472037515"
							style="width: 100%; overflow: hidden; border: none; height: 66px"
						></iframe>
					</div>
				</div>
			</div>
			<div class="subscription-card">
				<div
					class="subscription-card__img subscription-card__img--primary"
					style="
						background-image: url('https://cdn.shopify.com/s/files/1/0333/9295/1435/products/Modern-Plant-Bottle-Concept-DS_95729e8c-099c-45a1-a6eb-25e3eb691405.jpg?v=1605312876');
					"
				></div>
				<div class="subscription-card__content">
					<h5 class="subscription-card__title heading-5 mb-lg">Holy Lavender</h5>
					<p class="subscription-card__info paragraph mb-xl">cocktail</p>
					<h6 class="subscrition-card__price heading-6 mb-md">199.0</h6>
					<div class="subscription-card__caption paragraph--small mb-xxl">
						The plants sourced in Holy Lavender have been blessed and grown by the nuns of
						Norbertine Canons of St. Michael’s Abbey located in a quiet valley in the
						Tehachapi Mountains outside the city of Tehachapi, CA. Founded in 1997 by the
						Norbertine Canons of St. Michael’s Abbey, the Bethlehem Priory of St. Joseph
						is a Roman Catholic community of cloistered religious nuns, the first
						community of Norbertine Canonesses in the United States
					</div>
					<div
						id="product-component-Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzQ2OTI0Nzc2NzM2MTE="
						class="shopify-buy-frame shopify-buy-frame--product shopify-buy__layout-vertical"
						style="max-width: 280px"
					>
						<iframe
							horizontalscrolling="no"
							verticalscrolling="no"
							allowtransparency="true"
							frameborder="0"
							scrolling="no"
							name="frame-product-4692477673611"
							style="width: 100%; overflow: hidden; border: none; height: 66px"
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="callout-setion container-fluid bg-desert-sage">
		<div class="callout-section__container container _80">
			<div class="callout-section__left">
				<div class="heading-3 mb-sm text-color-white">
					Wondering which is right for you?
				</div>
				<div class="heading-5 mb-xxl text-color-white">
					We can help find out exactly what terpene blend your body can benefit from.
				</div>
				<button type="button" class="btn btn-secondary--white heading-6 undefined">
					Learn More
				</button>
			</div>
			<div class="callout-section__right">
				<h2 class="heading-2 box-title">
					<div class="box-title__title">Live Radically Well</div>
				</h2>
			</div>
		</div>
	</div>
	<div class="methods-steps container _80">
		<div class="methods-steps__title heading-3 mb-xxl">Here's how it works</div>
		<div class="methods-steps__cards">
			<div class="step-card">
				<div class="step-card__content-container">
					<div class="step-card__content">
						<div class="step-card__step-title heading-6--caps mb-lg">Step 1</div>
						<h2 class="step-card__box-title mb-xxl heading-2 box-title">
							<div class="box-title__title">Upload DNA</div>
						</h2>
						<div class="step-card__details paragraph">
							Upload your Diagnomics DNA data to your personal, secure Modern Plant
							Profile
						</div>
					</div>
				</div>
				<div
					class="step-card__img"
					style="background-image: url({{ '2-small-bottles.png' | asset_url }})"
				></div>
			</div>
			<div class="step-card">
				<div class="step-card__content-container">
					<div class="step-card__content">
						<div class="step-card__step-title heading-6--caps mb-lg">Step 2</div>
						<h2 class="step-card__box-title mb-xxl heading-2 box-title">
							<div class="box-title__title">Genetic Sequencing</div>
						</h2>
						<div class="step-card__details paragraph">
							Our labs recieve your DNA and sequence it for genetic screening and
							plant-based matchmaking. We find out what your body is asking for.
						</div>
					</div>
				</div>
				<div
					class="step-card__img"
					style="background-image: url({{ 'test-viles.png' | asset_url }})"
				></div>
			</div>
			<div class="step-card">
				<div class="step-card__content-container">
					<div class="step-card__content">
						<div class="step-card__step-title heading-6--caps mb-lg">Step 3</div>
						<h2 class="step-card__box-title mb-xxl heading-2 box-title">
							<div class="box-title__title">Genetic Reporting</div>
						</h2>
						<div class="step-card__details paragraph">
							Your genetics report is uploaded to your Modern Plant personal profile for
							your review
						</div>
					</div>
				</div>
				<div
					class="step-card__img"
					style="background-image: url({{ 'envelopes.png' | asset_url }})"
				></div>
			</div>
			<div class="step-card">
				<div class="step-card__content-container">
					<div class="step-card__content">
						<div class="step-card__step-title heading-6--caps mb-lg">Step 4</div>
						<h2 class="step-card__box-title mb-xxl heading-2 box-title">
							<div class="box-title__title">Your Subscriptions</div>
						</h2>
						<div class="step-card__details paragraph">
							Begin your journey to preventative wellness. Start your subscription to gain
							access to virtual doctors and receive monthy perscriptions of compatible,
							plant-based blends.
						</div>
					</div>
				</div>
				<div
					class="step-card__img"
					style="background-image: url({{ 'boxes.png' | asset_url }})"
				></div>
			</div>
		</div>
	</div>
</div>
