<!-- /templates/page.about.liquid -->

<div class="page-container page-about" style="opacity: 1">
	<div class="split-hero">
		<div class="split-hero__left">
			<div
				class="hero-background"
				style="background-image: url({{ 'regularwellness.jpg' | asset_url }})"
			></div>
		</div>
		<div class="split-hero__right">
			<div class="hero-content">
				<div class="hero-content__content">
					<div class="hero-content__background">
						<div class="hero-content__fingerprint">
							<img
								class="responsive-img"
								src="{{ 'fingerprint-grey.png' | asset_url }}"
								alt=""
							/>
						</div>
					</div>
					<div class="heading-1">Bold Purveyors of Wellness</div>
					<h6 class="heading-6--caps"></h6>
					<h5 class="heading-5 hero-content__paragraph">
						Traditional apothecary remedies, refined - and with a modern spin
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="about-callout container _80">
		<div class="about-callout__section about-callout__left">
			<div
				class="about-callout__content content"
				style="background-image: url({{ 'flowersinvase.png' | asset_url }})"
			></div>
		</div>
		<div class="about-callout__section about-callout__right">
			<div class="about-callout__content content">
				<h2 class="about-callout__box-title heading-2 box-title">
					<div class="box-title__title">Live Radically Well</div>
				</h2>
				<div class="about-callout__caption heading-4">
					We’re dedicated to helping you maintain health and wellness by harnessing the
					healing power of whole plants using strategic scientific technology.
				</div>
			</div>
		</div>
	</div>
	<div class="about-team">
		<div class="container _80">
			<h3 class="about-team__title heading-3 mb-xxl">Our Team</h3>
		</div>
		<div class="about-team__cards scrollable-cards">
			<div class="about-team__card team-card scrollable-cards__card">
				<div class="team-card__left">
					<div
						class="team-card__image-wrapper"
						style="background-image: url({{ 'karl.png' | asset_url }})"
					></div>
				</div>
				<div class="team-card__right">
					<div class="heading-5 mb-sm">Karl Cahill</div>
					<div class="heading-6 mb-md">CEO, San Diego, CA</div>
					<div class="paragraph--small">
						8+ years of experience in private equity with a unique focus on emerging
						biotechnology ventures. • Proven experience working in investor relations and
						business development for Raptor Pharmaceuticals and Inovio Pharmaceuticals •
						Intimate understanding of how biotechnology can create an incredible number of
						new products and propel biology beyond traditional markets in healthcare •
						Work experience across Asia, and relationships with leaders in biotech and
						gene tics • BA, Finance, University of Westminster
					</div>
				</div>
			</div>
			<div class="about-team__card team-card scrollable-cards__card">
				<div class="team-card__left">
					<div
						class="team-card__image-wrapper"
						style="background-image: url({{ 'shireen.jpeg' | asset_url }})"
					></div>
				</div>
				<div class="team-card__right">
					<div class="heading-5 mb-sm">Shireen Thor</div>
					<div class="heading-6 mb-md">COO, San Diego, CA</div>
					<div class="paragraph--small">
						Award - winning founder of a startup ecommerce functional fashion company
						recognized by Entrepreneur Magazine as one of 2017 America’s Top
						Entrepreneurial Companies • 15 - year career as a design engineer and product
						marketer and Big 3 business consultant • Experience running $25M+ P&amp;Ls and
						with Accenture and CareFusion • Awards include: • Gold Stevie Award for Start
						- up of the Year • Gold Stevie for Female Entrepren eur of the Year • Red
						Herring North America Top 100 • Red Herring Global Top 100 • BSE, Industrial
						Engineering, University of Michigan
					</div>
				</div>
			</div>
			<div class="about-team__card team-card scrollable-cards__card">
				<div class="team-card__left">
					<div
						class="team-card__image-wrapper"
						style="background-image: url({{ 'min.jpg' | asset_url }})"
					></div>
				</div>
				<div class="team-card__right">
					<div class="heading-5 mb-sm">Dr. Min Lee</div>
					<div class="heading-6 mb-md">Scientific Advisor, San Diego, CA</div>
					<div class="paragraph--small">
						Founder &amp; chairman of Diagnomics Inc, in San Diego, California • CEO of
						Eone Diagnomics Genome Center (KOSDAQ; EDGC) in Incheon South Korea • Visiting
						professor of Institute of Convergence Science &amp; Technology in Incheon
						National University • Director of ShareGenome, which focuses on precision
						medicine and scientific discoveries from genomics and health data • World
						renowned scholar, researcher and entrepreneur in Genomics • Postdoc at the
						Genomics and Proteomics Center at Harvard Medical School and Beth Israel
						Deaconess Medical Center • Ph.D., Biological Science, City of Hope National
						Medical Center
					</div>
				</div>
			</div>
			<div class="about-team__card team-card scrollable-cards__card">
				<div class="team-card__left">
					<div
						class="team-card__image-wrapper"
						style="background-image: url({{ 'jeff.jpg' | asset_url }})"
					></div>
				</div>
				<div class="team-card__right">
					<div class="heading-5 mb-sm">Jeff Christiansen</div>
					<div class="heading-6 mb-md">CSO, New York City, NY</div>
					<div class="paragraph--small">
						Managing Director of ValCap Global Advisory, a strategy and investment banking
						boutique • Background in project management, deal st ructuring, negotiation
						strategy, private equity, corporate growth strategy • Previously with Bain
						&amp; Company, Moody’s Investors Service, AfricInvest Capital Partners, US
						State Department • 10+ years of experience across Central Asia, Africa, Middle
						East, and South East Asia • MS, Georgetown University and BA, Washington
						University in St. Louis
					</div>
				</div>
			</div>
			<div class="about-team__card team-card scrollable-cards__card">
				<div class="team-card__left">
					<div
						class="team-card__image-wrapper"
						style="background-image: url({{ 'michelle.png' | asset_url }})"
					></div>
				</div>
				<div class="team-card__right">
					<div class="heading-5 mb-sm">Michelle Lee</div>
					<div class="heading-6 mb-md">Strategy Associate, San Diego, CA</div>
					<div class="paragraph--small">
						Social media influencer with a heavy science background • Top 10 Fastest
						Growing Instagram Accounts of 2019 • Author on the Transgenerational Effects
						of Obesogens • DNA App Developer • Lab manager and research student at
						Blumberg Lab in UCI • VP of Genetic Counseling SIG at UCI • Internship at UCI
						Pediatrics' Division of Genetic and Genomic Medicine • Project Man ager at
						Diagnomics (overseeing launching of Covid - 19 testing) • BA, University of
						California Irvine
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="callout-setion container-fluid bg-desert-sage">
		<div class="callout-section__container container _80">
			<div class="callout-section__left">
				<div class="heading-3 mb-sm text-color-white">Is this right for you?</div>
				<div class="heading-5 mb-xxl text-color-white">
					We can find out. Don't sleep on your DNA, let's find out what the right terpene
					blends are for you.
				</div>
				<button type="button" class="btn btn-secondary--white heading-6 undefined">
					Learn More
				</button>
			</div>
			<div class="callout-section__right">
				<h2 class="heading-2 box-title">
					<div class="box-title__title">Live Radically Well</div>
				</h2>
			</div>
		</div>
	</div>
	<div class="about-partners container _80">
		<div class="about-partners__title heading-3 mb-xxl">Our Partners</div>
		<div class="about-partners__logos">
			<div class="about-partners__logo-container">
				<img
					src="{{ 'partner2.png' | asset_url }}"
					alt=""
					class="about-partners__logo img-responsive"
				/>
			</div>
			<div class="about-partners__logo-container">
				<img
					src="{{ 'partner3.png' | asset_url }}"
					alt=""
					class="about-partners__logo img-responsive"
				/>
			</div>
			<div class="about-partners__logo-container">
				<img
					src="{{ 'partner1.png' | asset_url }}"
					alt=""
					class="about-partners__logo img-responsive"
				/>
			</div>
		</div>
	</div>
	<div class="grid-gallery-section">
		<div class="grid-gallery-section__container container _80">
			<svg
				aria-hidden="true"
				focusable="false"
				data-prefix="fab"
				data-icon="instagram"
				class="svg-inline--fa fa-instagram fa-w-14 grid-gallery-section__icon heading-2"
				role="img"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 448 512"
			>
				<path
					fill="currentColor"
					d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
				></path>
			</svg>
			<h3 class="heading-3">More of the good stuff.</h3>
			<h5 class="heading-5 mb-xxl">Stay Connected. <br />Be A Part of Our Community.</h5>
		</div>
		<div class="grid-gallery">
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig1.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig2.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig3.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig4.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig5.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig6.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig7.png' | asset_url }});
				"
			></div>
			<div
				class="grid-item"
				style="
					background-image: url({{ 'ig8.png' | asset_url }});
				"
			></div>
		</div>
	</div>
	<div class="testimonials">
		<div class="container _80">
			<h3 class="testimonials__title heading-3">
				Don't just take our word for it. <br />See what our subscribers have to say.
			</h3>
		</div>
		<div class="testimonials__cards">
			<div class="testimonial-card">
				<div class="testimonial-card__left">
					<div
						class="testimonial-card__image-wrapper"
						style="background-image: url({{ 'lesleypatterson.jpg' | asset_url }})"
					></div>
				</div>
				<div class="testimonial-card__right">
					<div class="testimonial-card__social">
						<svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fab"
							data-icon="twitter"
							class="svg-inline--fa fa-twitter fa-w-16 testimonial-card__icon heading-3"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
						>
							<path
								fill="currentColor"
								d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
							></path>
						</svg>
					</div>
					<div class="heading-5 mb-xl">Lesley Patterson</div>
					<div class="testimonial-card__info paragraph--small mb-lg">
						"I was fighting off a cold for about a week. I don't have time to be sick!
						Once I tried the Desert Sage Modern Plant cocktail, it really stopped all of
						the symptoms. It was like night and day."
					</div>
					<div class="heading-6">
						<svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon testimonial-card__icon--unfilled heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path>
						</svg>
					</div>
				</div>
			</div>
			<div class="testimonial-card">
				<div class="testimonial-card__left">
					<div
						class="testimonial-card__image-wrapper"
						style="background-image: url({{ 'vaughnmartin.jpg' | asset_url }})"
					></div>
				</div>
				<div class="testimonial-card__right">
					<div class="testimonial-card__social">
						<svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fab"
							data-icon="twitter"
							class="svg-inline--fa fa-twitter fa-w-16 testimonial-card__icon heading-3"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"
						>
							<path
								fill="currentColor"
								d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
							></path>
						</svg>
					</div>
					<div class="heading-5 mb-xl">Vaugh Martin</div>
					<div class="testimonial-card__info paragraph--small mb-lg">
						"I knew the benefits of CBD, but the benefits of Modern Plant's terpene
						cocktails have been incredibly transformative. I use it for aches and pains
						after long hours of training. This helps with everything and keeps me going."
					</div>
					<div class="heading-6">
						<svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path></svg
						><svg
							aria-hidden="true"
							focusable="false"
							data-prefix="fas"
							data-icon="star"
							class="svg-inline--fa fa-star fa-w-18 testimonial-card__icon testimonial-card__icon--unfilled heading-5"
							role="img"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 576 512"
						>
							<path
								fill="currentColor"
								d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
							></path>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
