<!-- /templates/page.subscriptions.liquid -->

<div class="page-container page-" style="opacity: 1">
	<div class="split-hero">
		<div class="split-hero__left">
			<div
				class="hero-background"
				style="background-image: url({{ 'subscriptionboxes.jpg' | asset_url }})"
			></div>
		</div>
		<div class="split-hero__right">
			<div class="hero-content">
				<div class="hero-content__content">
					<div class="hero-content__background">
						<div class="hero-content__fingerprint">
							<img
								class="responsive-img"
								src="{{ 'fingerprint-grey.png' | asset_url }}"
								alt=""
							/>
						</div>
					</div>
					<div class="heading-1">Wellness Year Round</div>
					<h6 class="heading-6--caps">Your Future Self thanks you</h6>
					<h5 class="heading-5 hero-content__paragraph">
						Terpenes possess very important antiviral compounds that offer a number of
						health benefits that fight off many common illnesses such as cold, flu,
						stomach issues, and more. Now you can maintain a healthy self all year round
						with our monthly subscription!
					</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="subscribe-callout container-fluid">
		<div class="subscribe-callout__left">
			<div class="subscribe-callout__title heading-1">Subscribe</div>
			<div
				class="subscribe-callout__img-wrapper"
				style="background-image: url({{ 'bottles.png' | asset_url }})"
			>
				<img
					src="{{ 'stamp-black.png' | asset_url }}"
					alt=""
					class="subscribe-callout__watermark"
				/>
			</div>
		</div>
		<div class="subscribe-callout__right subscribe-callout__content-blocks">
			<div class="subscribe-callout__content-block content-block mb-xxl">
				<div class="content-block__title heading-4 mb-lg">Step 1: Take the Test</div>
				<p class="content-block__paragraph paragraph">
					A test kit will be sent directly to you. Rather than the industrial age approach
					of “one-size-fits-all”, genotype testing allows you a personalized product that
					adjusts specific component levels so you receive immediate benefits.
				</p>
			</div>
			<div class="subscribe-callout__content-block content-block mb-xxl">
				<div class="content-block__title heading-4 mb-lg">Step 2: Analyze the Data</div>
				<p class="content-block__paragraph paragraph">
					Your results will be processed, analyzed and shared with you in order to
					determine the best blend of terpenes to target your health goals or address
					various ailments that you are at risk for.
				</p>
			</div>
			<div class="subscribe-callout__content-block content-block mb-xxl">
				<div class="content-block__title heading-4 mb-lg">Step 3: Intake and Prevent</div>
				<p class="content-block__paragraph paragraph">
					Receive a package every month containing 4 bottles of personalized plant
					extracts that will positively affect your body and mind and prevent the onset of
					disease and illness in the short and long term.
				</p>
			</div>
		</div>
	</div>
	<section class="blue-band subscriptions-blue-band">
		<div class="blue-band__background">
			<div class="container _80">
				<div class="row">
					<div class="col-md-6">
						<div class="section-content">
							<div class="section-content__content">
								<h2 class="heading-2 mb-xl">Don't think about it</h2>
								<h5 class="heading-5 mb-lg">Your Wellness Awaits</h5>
								<p class="paragraph">
									Don't sleep on your DNA, let's find out what the right terpene blends
									are for you. Your custom blend will adapt over the course of your
									membership and engagement in the program.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 relative w-100">
						<img
							src="{{ 'brandedbox.png' | asset_url }}"
							alt=""
							class="subscriptions-blue-band__img"
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="subscriptions-cards subscription-options container _80">
		<h4 class="heading-3 mb-xxl">Subscribe to Regular Wellness</h4>
		<div class="subscription-options__cards">
			<div class="subscription-card">
				<div
					class="subscription-card__img subscription-card__img--secondary"
					style="background-image: url({{ 'option1.jpg' | asset_url }})"
				></div>
				<div class="subscription-card__content subscription-card__content--secondary">
					<h3
						class="subscription-card__title heading-3 mb-lg text-color-brand text-uppercase"
					>
						Hello Health
					</h3>
					<h6 class="subscrition-card__price heading-6 mb-lg">12 Month | $99/month</h6>
					<div class="subscription-card__attributes mb-xxl"></div>
					<p class="subscription-card__info paragraph mb-xxl">
						Subscribe without DNA testing. Terpene selection will be generated based on
						completing a health survey.
					</p>
					<button type="button" class="btn btn-secondary heading-6 undefined">
						Subscribe Today
					</button>
				</div>
			</div>
			<div class="subscription-card">
				<div
					class="subscription-card__img subscription-card__img--secondary"
					style="background-image: url({{ 'windchime.jpg' | asset_url }})"
				></div>
				<div class="subscription-card__content subscription-card__content--secondary">
					<h3
						class="subscription-card__title heading-3 mb-lg text-color-brand text-uppercase"
					>
						Custom Crafted
					</h3>
					<h6 class="subscrition-card__price heading-6 mb-lg">12 Month | $79/month</h6>
					<div class="subscription-card__attributes mb-xxl"></div>
					<p class="subscription-card__info paragraph mb-xxl">
						Subscribe with DNA testing that will provide you with your terpene custom
						blend
					</p>
					<button type="button" class="btn btn-secondary heading-6 undefined">
						Subscribe Today
					</button>
				</div>
			</div>
			<div class="subscription-card">
				<div
					class="subscription-card__img subscription-card__img--secondary"
					style="background-image: url({{ 'option3.jpg' | asset_url }})"
				></div>
				<div class="subscription-card__content subscription-card__content--secondary">
					<h3
						class="subscription-card__title heading-3 mb-lg text-color-brand text-uppercase"
					>
						Ahead of the Game
					</h3>
					<h6 class="subscrition-card__price heading-6 mb-lg">12 Month | $79/month</h6>
					<div class="subscription-card__attributes mb-xxl"></div>
					<p class="subscription-card__info paragraph mb-xxl">
						Upload your existing DNA test results to get started on your monthly
						subscription.
					</p>
					<button type="button" class="btn btn-secondary heading-6 undefined">
						Subscribe Today
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="callout-setion container-fluid bg-desert-sage">
		<div class="callout-section__container container _80">
			<div class="callout-section__left">
				<div class="heading-3 mb-sm text-color-white">Is this right for you?</div>
				<div class="heading-5 mb-xxl text-color-white">
					We can find out. Don't sleep on your DNA, let's find out what the right terpene
					blends are for you.
				</div>
				<button type="button" class="btn btn-secondary--white heading-6 undefined">
					Learn More
				</button>
			</div>
			<div class="callout-section__right">
				<h2 class="heading-2 box-title">
					<div class="box-title__title">Live Radically Well</div>
				</h2>
			</div>
		</div>
	</div>
</div>
