<!-- /templates/page.remedies.liquid -->

<div class="page-container page-remedies" style="opacity: 1">
	<div
		id="fullpage"
		class="fullpage-wrapper"
		style="
			height: 100%;
			position: relative;
			touch-action: none;
			transform: translate3d(0px, 0px, 0px);
		"
	>
		<div
			class="split-hero section split-hero__remedies fp-section active fp-completely"
			data-fp-styles="null"
			style="height: 900px"
		>
			<div class="hero-overlay">
				<div
					class="hero-overlay__center-container hero-overlay__center-container--bottle"
				>
					<img
						src="{{ 'modern-bottle-white.png' | asset_url }}"
						alt=""
						class="responsive-img"
					/>
				</div>
				<div class="hero-overlay__bottom-right-container">
					<div class="hero-overlay__button-container">
						<button type="button" class="btn btn-secondary--white heading-6 undefined">
							Fight Sickness Now
						</button>
					</div>
				</div>
			</div>
			<div class="split-hero__left">
				<div class="hero-content hero-content--remedies">
					<div class="hero-content__remedy-name">
						<h1 class="hero-content__remedy-name__title heading-1 text-color-tertiary">
							Cherry Wine
						</h1>
					</div>
				</div>
			</div>
			<div class="split-hero__right">
				<div class="hero-content hero-content--remedies-details bg-color-tertiary">
					<div class="hero-content__remedy-details">
						<div class="hero-content__remedy-details__logo-container">
							<img
								src="{{ 'mp-logo-mark-white.png' | asset_url }}"
								alt="White Mark Logo"
								class="hero-content__remedy-details__logo"
							/>
						</div>
						<div class="attributes-box">
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">4 mL</div>
								<div class="attributes-box__item heading-6--caps">
									Decreases inflammation and anti-viral conditions
								</div>
							</div>
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">
									Plant Based Supplement
								</div>
								<div class="attributes-box__item heading-6--caps">0.14 fl OZ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="split-hero section split-hero__remedies fp-section"
			data-fp-styles="null"
			style="height: 900px"
		>
			<div class="hero-overlay">
				<div
					class="hero-overlay__center-container hero-overlay__center-container--bottle"
				>
					<img
						src="{{ 'modern-bottle-white.png' | asset_url }}"
						alt=""
						class="responsive-img"
					/>
				</div>
				<div class="hero-overlay__bottom-right-container">
					<div class="hero-overlay__button-container">
						<button type="button" class="btn btn-secondary--white heading-6 undefined">
							Fight Sickness Now
						</button>
					</div>
				</div>
			</div>
			<div class="split-hero__left">
				<div class="hero-content hero-content--remedies">
					<div class="hero-content__remedy-name">
						<h1 class="hero-content__remedy-name__title heading-1 text-color-secondary">
							Desert Sage
						</h1>
					</div>
				</div>
			</div>
			<div class="split-hero__right">
				<div class="hero-content hero-content--remedies-details bg-color-secondary">
					<div class="hero-content__remedy-details">
						<div class="hero-content__remedy-details__logo-container">
							<img
								src="{{ 'mp-logo-mark-white.png' | asset_url }}"
								alt="White Mark Logo"
								class="hero-content__remedy-details__logo"
							/>
						</div>
						<div class="attributes-box">
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">4 mL</div>
								<div class="attributes-box__item heading-6--caps">
									Improves mood and decreases symptoms of depression
								</div>
							</div>
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">
									Plant Based Supplement
								</div>
								<div class="attributes-box__item heading-6--caps">0.14 fl OZ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="split-hero section split-hero__remedies fp-section"
			data-fp-styles="null"
			style="height: 900px"
		>
			<div class="hero-overlay">
				<div
					class="hero-overlay__center-container hero-overlay__center-container--bottle"
				>
					<img
						src="{{ 'modern-bottle-white.png' | asset_url }}"
						alt=""
						class="responsive-img"
					/>
				</div>
				<div class="hero-overlay__bottom-right-container">
					<div class="hero-overlay__button-container">
						<button type="button" class="btn btn-secondary--white heading-6 undefined">
							Fight Sickness Now
						</button>
					</div>
				</div>
			</div>
			<div class="split-hero__left">
				<div class="hero-content hero-content--remedies">
					<div class="hero-content__remedy-name">
						<h1 class="hero-content__remedy-name__title heading-1 text-color-primary">
							Holy Lavender
						</h1>
					</div>
				</div>
			</div>
			<div class="split-hero__right">
				<div class="hero-content hero-content--remedies-details bg-color-primary">
					<div class="hero-content__remedy-details">
						<div class="hero-content__remedy-details__logo-container">
							<img
								src="{{ 'mp-logo-mark-white.png' | asset_url }}"
								alt="White Mark Logo"
								class="hero-content__remedy-details__logo"
							/>
						</div>
						<div class="attributes-box">
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">4 mL</div>
								<div class="attributes-box__item heading-6--caps">
									Promotes mental clarity and decreases stress
								</div>
							</div>
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">
									Plant Based Supplement
								</div>
								<div class="attributes-box__item heading-6--caps">0.14 fl OZ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="split-hero section split-hero__remedies fp-section"
			data-fp-styles="null"
			style="height: 900px"
		>
			<div class="hero-overlay">
				<div
					class="hero-overlay__center-container hero-overlay__center-container--bottle"
				>
					<img
						src="{{ 'modern-bottle-white.png' | asset_url }}"
						alt=""
						class="responsive-img"
					/>
				</div>
				<div class="hero-overlay__bottom-right-container">
					<div class="hero-overlay__button-container">
						<button type="button" class="btn btn-secondary--white heading-6 undefined">
							Fight Sickness Now
						</button>
					</div>
				</div>
			</div>
			<div class="split-hero__left">
				<div class="hero-content hero-content--remedies">
					<div class="hero-content__remedy-name">
						<h1 class="hero-content__remedy-name__title heading-1 text-color-quartenary">
							Custom Blend
						</h1>
					</div>
				</div>
			</div>
			<div class="split-hero__right">
				<div class="hero-content hero-content--remedies-details bg-color-quartenary">
					<div class="hero-content__remedy-details">
						<div class="hero-content__remedy-details__logo-container">
							<img
								src="{{ 'mp-logo-mark-white.png' | asset_url }}"
								alt="White Mark Logo"
								class="hero-content__remedy-details__logo"
							/>
						</div>
						<div class="attributes-box">
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">4 mL</div>
								<div class="attributes-box__item heading-6--caps">
									Cleansing and Preventative Properties
								</div>
							</div>
							<div class="attributes-box__row">
								<div class="attributes-box__item heading-6--caps">
									Plant Based Supplement
								</div>
								<div class="attributes-box__item heading-6--caps">0.14 fl OZ</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
